.boton1Diseño {
    cursor: pointer;
    font-size: x-large;
    background-image: url(../../../img/iconoJohnson.png);
    color: transparent;
}

.boton1Diseño:hover {
    scale: 1.15;
    transition: 0.5s;
    transition-delay: 0.1s;
}

.boton1Diseño:not(:hover) {
    transition: 0.5s;
}