.navbar-links {
    font-size: large;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
  }
  
  .navbarComun {
    position: relative;
    z-index: 99;
    color: #0075bb;
    width: 100%;
    
  }
  .navbar-links button {
    background-color: transparent;
    font-weight: bold;
    color: #0075bb;
    cursor: pointer;
    border-radius: 2em;
    border: 0;
    
  }
  
  button:hover {
    background-color: darkred;
    transition: 0.3s;
    scale: 1.2;
  }
  
  #barraEntera {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
  }
  
  .navbar {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
  }