.panelUsuarioEntero {
    max-width: 100vw;
    height: 95vh;
    display: flex;
}

.parteIzquierda {
    width: 35%;
    height: 100%;
    background-color: #0d0d0d;
}

.parteDerecha {
    width: 65%; 
    height: 100%;
    background-color: yellow;
    background-image: url(../../../img/Captura\ desde\ 2023-07-26\ 02-57-08.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardUsuario {
    width: 100%; 
}

.card {
    margin-top: 1em;
    padding: 5em; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgoldenrodyellow;
    border-radius: 2em;
}

.card button {
    margin-top: 1em;
    background-color: gray;
    border: 0;
    color: black;
    font-weight: bold;
}

.card-body p {
    margin-top: 1em;
}

.card button:hover {
    background-color: lightslategray;
    scale: 1.1;
    transition: 0.4s;
}

.card button:not(:hover) {
    transition: 0.3s;
}

@media (max-width: 768px) {
    .panelUsuarioEntero {
        height: auto; 
        flex-direction: column; 
    }

    .parteIzquierda {
        width: 100%;
        height: auto; 
    }

    .parteDerecha {
        display: none;
    }

    .cardUsuario {
        width: 100%; 
    }

    .card {
        padding: 2em; 
    }

    .card button {
        margin-top: 0.5em; 
    }
}
