.panelAdminEntero {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  padding: 2em;
  background-color: rgb(237, 238, 237);
}

/* Nuevo contenedor para la tabla con scroll horizontal */
.panelAdminTablaContainer {
  overflow-x: auto;
  max-width: 100%; /* Permitir que el contenedor sea más ancho que la pantalla */
}

.panelAdminTabla {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.panelAdminTabla th,
.panelAdminTabla td {
  border: 0.1em solid #dddddd;
  padding: 1em; /* Aumentamos el tamaño del padding */
  text-align: center;
  overflow-wrap: break-word;
}

.panelAdminTabla th {
  font-weight: bold;
}

#botonEliminarUsuario{
  border-radius: 0.5em;
  background-color: red;
  color: white;
}

@media (max-width: 768px) {

  .panelAdminEntero {
    padding: 1em;
  }

  .panelAdminTabla th {
    width: 10em;
  }

  .panelAdminTabla td {
    height: 3em;
  }
}


