.vistaEmpleadoEntera {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  padding: 2em;
  background-color:rgb(141, 233, 184);
}

.citas-table {
  width: 100%;
  border-collapse: collapse;
}

.citas-table th,
.citas-table td {
  border: 0.1em solid #dddddd;
  padding: 0.5em;
  text-align: center;
}

.citas-table th {
  font-weight: bold;
}


.botones-desplegable {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.botones-desplegable button {
  margin-left: 0.5em;
  border-radius: 0.6em;
}

#botonRealizada {
  background-color: lightgreen;
}

#botonCancelar {
  background-color: red;
}

#botonModificar {
  background-color: coral;
}

#botonOpciones {
  border-radius: 0.6em;
}

@media (max-width: 768px) {
  .citas-table th,
  .citas-table td {
    font-size: 0.8em;
    max-width: none; 
    white-space: normal;
  }

  .botones-desplegable {
    justify-content: flex-end;
  }

  .vistaEmpleadoEntera {
    padding: 1em;
  }

  .filters-container {
    flex-direction: column;
  }

  .filter-name {
    max-width: 100%;
  }
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.filter-date {
  flex: 1;
}

.filter-name {
  flex: 1;
  max-width: 50%;
}

